body {
    /* background-color: hotpink; */
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#Logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 8px 8px 10px 5px darkred;
    width: 20%;
    border-radius: 20%;
    text-shadow: 
    1px 1px 0px black,      /*Bottom-right Shadow*/
    -1px 1px 0px black,     /*Bottom-left Shadow*/
    1px -1px 0px black,     /*Top-right Shadow*/
    -1px -1px 0px black;   /*Top-left Shadow*/
}

cite > a {
    display:inline-block;
    width: 100px;
    height: 50px;
}

ul {
    margin: 0px;
}

body > header {
    background-color: orangered;
    color: rgb(255, 255, 255);
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#Nav-ul {
    display: flex;
}

#Nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    /* color: #99ffaa */
}

.Navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid black; 
    border-radius: 20%;
}

body > main article {
    width: 60%;
    margin: auto;
}

#Main-content {
    display: flex;
    justify-content: space-around;
}

#Main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: orange;
    display: flex;
}

img {
    border-radius: 50%;
}

#Footer-ul {
    display: flex;
    list-style: none;
}

#Footer-ul > div > li {
    margin-left: 12px;
}

#Footer-ul > div > li >a {
    color: wheat;
    text-decoration: none;
}